
@media screen and (max-width: 889px) {
    .mainContainer {
        display: none;
        width: 100%;
    }
}

@media screen and (min-width: 890px) {
    .mainContainer {
        // width: 79.1dvw;
        width: calc(100% - 320px);
    }
}

