.navContainer {
    z-index: 2;
}

.username > div {
    margin: auto 4px auto 4px;
}

@media screen and (max-width: 888px) {
    
    .backArrowBtn {
        display: block;
    }

}

@media screen and (min-width: 889px) {
    
    .backArrowBtn {
        display: none;
    }

}